@font-face {
    font-family: 'Bicyclette';
    src: local('Bicyclette Regular'),
    local('Bicyclette-Regular'),
    url('/fonts/Bicyclette-Regular.woff') format('woff'),
    url('/fonts/Bicyclette-Regular.ttf') format('ttf'),
    url('/fonts/Bicyclette-Regular.eot') format('eot');
    font-weight: normal;
}

@font-face {
    font-family: 'Bicyclette';
    src: local('Bicyclette Bold'),
    local('Bicyclette-Bold'),
    url('/fonts/Bicyclette-Bold.woff') format('woff'),
    url('/fonts/Bicyclette-Bold.ttf') format('ttf'),
    url('/fonts/Bicyclette-Bold.eot') format('eot');
    font-weight: bold;
}

@font-face {
    font-family: 'Bicyclette';
    src: local('Bicyclette Light'),
    local('Bicyclette-Light'),
    url('/fonts/Bicyclette-Light.woff') format('woff'),
    url('/fonts/Bicyclette-Light.ttf') format('ttf'),
    url('/fonts/Bicyclette-Light.eot') format('eot');
    font-weight: lighter;
}

@font-face {
    font-family: 'Bicyclette';
    src: local('Bicyclette Italic'),
    local('Bicyclette-Italic'),
    url('/fonts/Bicyclette-Italic.woff') format('woff'),
    url('/fonts/Bicyclette-Italic.ttf') format('ttf'),
    url('/fonts/Bicyclette-Italic.eot') format('eot');
    font-style: italic;
}

body {
    margin: 0;
    font-family: "Bicyclette", sans-serif;
    font-weight: normal;
    background-color: #facf7a;
    color: red;
}

.title {
    margin: 0 0 2%;
}

.canvas {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    padding: 26px 0 0 38px;
    margin: 0;
}

.navigation__menu {
    font-weight: bold;
    margin: 0;
    min-width: 38%;
}

.menu__item {
    list-style: none;
    padding-top: 10px;
}

.content {
    flex-grow: 1;
    margin: 5% auto 0;
}

/*film*/
.frame_item {
    margin-bottom: 2%;
}

.description {
    max-width: 685px;
    margin: 0 0 8% 0;
    line-height: 1.3;
}

/*slider*/
.photo {
    width: 654px;
    height: 443px;
    display: block;
    object-fit: cover;
    object-position: top;
}

.slider {
}

.slider {
    background-color: rgb(89, 112, 12);
    width: 654px;
    height: 443px;
    text-align: center;
}

.slider__button {
    background-color: #fff;
    min-width: 60px;
    min-height: 35px;
    border-radius: 40px;
    border: none;
    margin: 10px 5px;
    padding: 0;
    cursor: pointer;
    transition: .3s;
}

.slider__button:hover {
    background-color: rgb(89, 112, 12);
    color: white;
}

.link {
    text-decoration: none;
    color: red;
}

.link:hover {
    color: rgb(89, 112, 12);
    transition: color .2s;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: 1s;
}

@keyframes fade {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.about__photo {
    width: 350px;
    height: 350px;
    box-shadow: 12px 12px 1px 1px red;
    transition: .7s;
}

.about__photo:hover {
    box-shadow: -12px -12px 1px 1px rgb(89, 112, 12);
}